*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    min-height: 100dvh; 
    padding: 3rem;
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.form-wrapper{
    display:flex;
    justify-content:center;
    gap:2rem;
}
.form-wrapper input{
    flex-basis: 300px;
    padding:0.3rem;
    border-radius:0.5rem;
    outline: none;
    border:none;
}
.form-wrapper button{
    padding:0.2rem;
    background-color: white;
    border:none;
    outline: none;
    cursor: pointer;
    flex-basis:150px;
}
.tasks-wrapper{
    margin-block: 5rem;
    color:white;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.tasks-wrapper{
    font-size: 1.5rem;
}
.tasks-wrapper p{
    font-size: 0.8rem;
}

.tasks-lane{
    background-color: aliceblue;
    min-height: 60vh;
    padding:1rem;
    color:black;
}
.tasks{
   background-color: black; 
   color:white;
   padding:0.5rem;
   border-radius: 0.3rem;
   margin-block:0.7rem;
   cursor: move;
   transition: transform 0.2s ease-in;
}

.tasks:hover{
transform:scale(1.05);
}
.is-dragging{
   background-color: red;
   transform : rotate(10deg);
}